/.github export-ignore
/api export-ignore
/cmd export-ignore
/conformance export-ignore
/deploy export-ignore
/docs export-ignore
/internal export-ignore
/migrations export-ignore
/schemas export-ignore
/scripts export-ignore
/sdk/go export-ignore
/sdk/python export-ignore
/sdk/typescript export-ignore
/web export-ignore
/.dockerignore export-ignore
/.env.example export-ignore
/Dockerfile export-ignore
/Makefile export-ignore
/go.mod export-ignore
/go.sum export-ignore
/package.json export-ignore
/pnpm-lock.yaml export-ignore
/pnpm-workspace.yaml export-ignore
/redocly.yaml export-ignore
/tsconfig.base.json export-ignore
